<!-- _includes/scripts.html -->
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));
</script>


<script type="text/javascript">

  var one = new Array({{ site.data.words.one | join: '","' | prepend: '"' | append: '"' }});
  var two = new Array({{ site.data.words.two | join: '","' | prepend: '"' | append: '"' }});
  var three = new Array({{ site.data.words.three | join: '","' | prepend: '"' | append: '"' }});
  var four = new Array({{ site.data.words.four | join: '","' | prepend: '"' | append: '"' }});

  var first, second, third, fourth;

  function updateTwitterValues(share_url, title) {
    // clear out the <a> tag that's currently there...probably don't really need this since you're replacing whatever is in there already.
    $("#twitter-share-section").html('&nbsp;');
    $("#twitter-share-section").html('<a href="https://twitter.com/share" class="twitter-share-button" data-url="' + share_url +'" data-size="large" data-text="' + title + '" data-count="none" data-hashtags="dh2014, dhpaper">Tweet</a>');
    window.twttr.widgets.load();
  }

  function toTitleCase(str) {
    return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
  }

  var load_or_generate = function() {
    if (window.location.hash.substr(1) != "") {
      load();
    }
    else {
      generate();
    }
  }

  var load = function() {
    var existing_title = window.location.hash.substr(1);
    console.log(existing_title);
    segments = existing_title.split('-');
    first = segments[0];
    second = segments[1];
    third = segments[2];
    fourth = segments[3];
    set();
  }

  var generate = function() {
    first = one[Math.floor(Math.random()*one.length)];
    second = two[Math.floor(Math.random()*two.length)];
    third = three[Math.floor(Math.random()*three.length)];
    fourth = four[Math.floor(Math.random()*four.length)];
    set();
  };

  var set = function() {
    first = toTitleCase(first);
    second = toTitleCase(second);
    third = toTitleCase(third);
    fourth = toTitleCase(fourth);
    $('#first-word').text(first);
    $('#second-word').text(second);
    $('#third-word').text(third);
    $('#fourth-word').text(fourth);
    event.preventDefault();
    window.location.hash = first + "-" + second + "-" + third + "-" + fourth;
    var title = first + " of the " + second + " in the " + third + " of " + fourth;
    updateTwitterValues(window.location, title);
  }

  $( document ).ready(load_or_generate);
  $('#generator').on( "click", generate);

</script>
